<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.js"></script>
    <script src='/static/jquery.js'></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1200px;height:800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));



var option = {
  title: {
      text: 'ECharts 入门示例'
  },
  tooltip: {
    trigger:'axis'
   },
  legend: {
      data:['http状态统计']
  },
  xAxis: {
  },
  yAxis: {},
  series: [{
      name: 'http状态统计',
      type: 'bar',
  }]
};

$.getJSON('/piedata',function(res){
    // res = {legend:[200,404],data:[{name:xx,value:123}]}
    option.xAxis.data = res.legend
    bar_data = []
    $.each(res.data,function(i,v){
        bar_data.push(v.value)
    })
    option.series[0].data = bar_data

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
})



    </script>
</body>
</html>
