<!DOCTYPE html>
<html>
<head>
	<meta charset=UTF-8">
	<title>用户管理系统</title>
</head>
<body>
	<!--<h2>Welcom {{username}}</h2>-->
	<table border="1">
		<tr>
			<a href="/usermanager/add">新增用户</a>
		</tr>
		<tr>
			<td>用户名</td>
			<td>密码</td>
			<td>操作</td>
		</tr>
		{% for user,pwd in user_dict.iteritems() %}
		<tr>
			<td>{{ user }}</td>
			<td>{{ pwd }}</td>
			<td>
				<a href="/usermanager/modify?username={{ user }}">修改</a>
				<a class="delete" href="/usermanager/delete?username={{ user }}">删除</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>