<!DOCTYPE html>
<html lang="zn-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="/static/img/favicon.ico">

    <title>Admin System</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form id="login_form" class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading text-center">Please Login ...</h2>
        <input id="user" type="text" class="form-control" placeholder="admin_user" name="username" required autofocus>
        <input id="pwd" type="password" class="form-control" placeholder="admin_pwd" name="password" required>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <h4 class="">{{ error }}</h4>
            </div>
            {% endif %}
        <button id="btn_login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>

</body>
</html>
