<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container" >
    <a href="/logout">logout</a>
    <form class="form-inline" action="/adduser">
        <div class="form-group">
            <label>user</label>
            <input type="text" class="form-control" name="user" placeholder="user">
        </div>
        <div class="form-group">
            <label>pwd</label>
            <input type="text" class="form-control" name="pwd" placeholder="password">
        </div>
        <button type="submit" class="btn btn-default">添加</button>
    </form>
<div class="row">
    <div class="col-md-12">
    <table class="table table-bordered">
        <tr>
            <td>用户名</td>
            <td>密码</td>
            <td>操作</td>
        </tr>
        {% for user in userlist %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>
                <a href="/del?user={{user[0]}}">删除</a>
                <a href="update?user={{user[0]}}">更新</a>
            </td>
        </tr>
        {%endfor%}
    </table>

